<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../app.css">
    <title>Grid</title>
</head>
<body>
    <header>
        <section class="row justify-center">
            <article class="col-6 bg-light txt-dark p-5 border">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur saepe esse doloremque officiis? Dicta, quia eum. Quas porro reiciendis at velit! Id, dolore facere quis obcaecati veniam recusandae vitae itaque.
            </article>
        </section>
    </header>

    <main>
        <section class="container">
            <article class="row">
                <div class="col-2 border-top m-1 p-1 bg-primary txt-light border-dark col-s-6 m-s-0" style="height: 200px;">
                    a
                </div>
                <div class="col-2 border-right m-1 p-1 bg-danger txt-light border-gray col-s-6 m-s-0">
                    b
                </div>
                <div class="col-2 border-bottom m-1 p-1 bg-dark txt-light border-primary col-s-12">
                    c
                </div>
                <div class="col-2 border-left m-1 p-1 bg-info border-success border-s-danger col-s-12">
                    d
                </div>
            </article>
        </section>
        <section class="container-responsive">
            <article class="row">
                <div class="bg-success col-12 d-flex justify-center align-center border border-s-info border-m-gray border-b-dark" style="height: 200px;">
                    a
                </div>
            </article>
        </section>
    </main>
    <!--
        s small 460
        m movil 600 and small tablet to 768
        t tablet size to 998w
        d desktop to 1200
        b big dispositives to infinite
    -->
</body>
</html>