<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../app.css">
    <title>Typhography</title>
</head>
<body>
    <main class="container">
        <section class="row">
            <div class="col-4" style="background-color: aqua;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, fuga facilis, ipsum modi commodi qui quidem veritatis pariatur doloribus dignissimos cumque. Tempora, porro blanditiis at minima iure impedit eum nisi.
            </div>
            <div class="col-8 p-x-1" style="background-color: aquamarine;">
                aa
            </div>
        </section>
    </main>
</body>
</html>