<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../app.css">
    <title>Img</title>
</head>
<body>
    <main class="container">
        <section>
            <img src="../../../resources/img/violet.jpg" width="200" alt="Violet" class="img-thumblair">
        </section>

        <section class="clear-fix">
            <img src="../../../resources/img/violet.jpg" width="200" alt="Violet" class="float-start float-s-end img-thumblair">
            <img src="../../../resources/img/one.jpg" width="200" alt="Violet" class="float-end float-s-start img-thumblair">
        </section>
        <section>
            <img src="../../../resources/img/violet.jpg" width="200" alt="Violet" class="d-block mx-auto">
        </section>
        <section>
            <img src="../../../resources/img/violet.jpg" width="200" alt="Violet" class="img-thumblair d-block mx-auto">
        </section>

        <section>
            <img src="../../../resources/img/violet.jpg" width="200" alt="Violet" class="img-thumblair d-block mx-auto border-radius-2 border-radius-s-circle">
        </section>
        <section class="img-cite">
            <img src="../../../resources/img/violet.jpg" alt="Violet" class="img-thumblair">
                <figure class="cite d-s-none">
                    <div>
                        <blockquote class="blockquote">
                            <p>A well-known quote, contained in a blockquote element.</p>
                          </blockquote>
                          <figcaption class="blockquote-footer">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                          </figcaption>
                    </div>
                </figure>
        </section>

        
    </main>
    <!--
        s small 460
        m movil 600 and small tablet to 768
        t tablet size to 998w
        d desktop to 1200
        b big dispositives to infinite
    -->
</body>
</html>