<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../app.css">
    <title>Img</title>
</head>
<body>
    <main class="container">
        <div class="img-reveal">
            <img src="../../../resources/img/one.jpg" width="200" alt="Violet">
            <img src="../../../resources/img/square-image.png" width="200" class="img-hidden">
        </div>

        <div class="img-reveal move-up">
            <img src="../../../resources/img/one.jpg" width="200" alt="Violet">
            <img src="../../../resources/img/square-image.png" width="200" class="img-hidden">
        </div>


        <div class="img-reveal move-left">
            <img src="../../../resources/img/one.jpg" width="200" alt="Violet">
            <img src="../../../resources/img/square-image.png" width="200" class="img-hidden">
        </div>

        <div class="img-reveal move-right">
            <img src="../../../resources/img/one.jpg" width="200" alt="Violet">
            <img src="../../../resources/img/square-image.png" width="200" class="img-hidden">
        </div>

        <div class="img-reveal move-down">
            <img src="../../../resources/img/one.jpg" width="200" alt="Violet">
            <img src="../../../resources/img/violet.jpg" width="200" class="img-hidden">
        </div>
        <section>
            <div class="img-reveal not-hidden move-up">
                <img src="../../../resources/img/one.jpg" width="200" alt="Violet">
                <img src="../../../resources/img/square-image.png" width="200" class="img-hidden">
            </div>
    
    
            <div class="img-reveal not-hidden move-left">
                <img src="../../../resources/img/one.jpg" width="200" alt="Violet">
                <img src="../../../resources/img/square-image.png" width="200" class="img-hidden">
            </div>

            <div class="img-reveal not-hidden move-right">
                <img src="../../../resources/img/one.jpg" width="200" alt="Violet">
                <img src="../../../resources/img/square-image.png" width="200" class="img-hidden">
            </div>
            <span class="d-block mx-auto">
                <div class="img-reveal not-hidden move-down mx-auto">
                    <img src="../../../resources/img/one.jpg" width="200" alt="Violet">
                    <img src="../../../resources/img/violet.jpg" width="200" class="img-hidden">
                </div>
            </span>
            
        </section>
        
    </main>
    <!--
        s small 460
        m movil 600 and small tablet to 768
        t tablet size to 998w
        d desktop to 1200
        b big dispositives to infinite
    -->
</body>
</html>